.character-text {
    margin-top: 1rem;
    font-family: "Lucida Console";
}

.character-img {
    opacity: 1;
    transition: opacity 1s;
}

.damages-img {
    position: absolute;
}

.fade {
    opacity: 0;
}

.zoom {
    transition: transform .2s;
}

.zoom-effect {
    transition: transform .2s;
    transform: scale(1.15);
}