.prompt-style {
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    padding: 2rem;
    background: black;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(0, 161, 40);
    font-size: 16px;
    margin-top: 2%;
    font-family: "Lucida Console";
    text-align: center;
}