.victory-style {
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    background-color: rgb(94, 94, 94);
    font-family: "Lucida Console";
    border: 3px solid #2e2e2e;
    border-radius: 10px;
}

.victory-style p {
    color: black;
}

.victory-header {
    font-size: 40px;
}

.winner-text {
    font-size: 30px;
}